<nav class="w-full h-[80px] bg-amber-300 text-black flex text-2xl justify-center items-center">
  <a routerLink="/shop" class="text-4xl w-1/3 ml-[20%] cursor-pointer">Market</a>
  <div class="w-1/3 ml-auto h-full flex justify-center items-center">
    <a routerLink="/basket" class="text-xl mr-4 border-b-[1px] border-dashed cursor-pointer border-black">Корзина</a>
    <img src="./../../../assets/img/man.png" class="w-[60px] h-[60px] rounded-3xl" alt="">
    <button (click)="logOut()" class="ml-12 bg-blue-400 rounded-xl p-2">Выйти</button>
  </div>
</nav>
