<div class="">
  <p class="text-center mt-[50px] mb-10 text-3xl">Каталог товаров</p>
  <div class="w-10/12 mx-auto my-10 flex relative">



      <select (change)="createTypeSort($event)" class="w-[180px] bg-white cursor-pointer outline-0 border h-10 text-xl text-center rounded" name="" id="">
        <option value selected disabled>Сортировка</option>
        <option *ngFor="let sort of sorts" [ngValue]="sort.value" >{{sort.name}}</option>
      </select>
  <div class="flex justify-center absolute right-1/2 translate-x-1/2 w-1/4">
    <input class="w-full  border h-10 px-3 outline-0 mx-auto" [(ngModel)]="name" placeholder="Search..." type="text">
  </div>


  </div>
  <div class="w-10/12 mx-auto border h-[70vh]">
    <app-loader *ngIf="loading && productsService.products.length == 0"></app-loader>

    <div class="overflow-y-scroll flex flex-wrap w-full h-full" *ngIf="!loading && productsService.products">

      <app-product *ngFor="let item of productsService.products | filterProduct: name;"
                   [product]="item" [modification]="productsService.basketModification"
                   class="min-w-[150px] w-[20%]">
      </app-product>
    </div>

  </div>
</div>
<app-modal-window *ngIf="modal.modal"></app-modal-window>
